{% extends 'base.html' %} {% block header %}

{% endblock %} {% block content %}
      <!--Main layout-->
    <div class="container">
        <div class="row center">
          <h4 class="header col s12 light">Analyse des dernières offres sur Dijon</h4>
          <p>Offres publiées sur <a href="https://fr.indeed.com/">Indeed</a></p>
        </div>
    </div>
        <!--Insertion des résultats du script de scrapping-->


        <div class="container">
            {{ infos.to_html(index=False) | safe }}
        </div>


      <!--Bouton d'appel pour accéder au formulaire d'estimation de coût-->
      <div class="container">
        <div class="row center">
          <h3><a href="{{ url_for('home')}}"><button type="button" >retour</button></h3></a>
          <p><button style="color:#000000;" onclick="window.print()" type="button" >imprimer</button></p>
        </div>
        <br><br>
      </div>
{% endblock %}