{% extends 'base.html' %} {% block header %}

{% endblock %} {% block content %}
            <div class="container">
                  <div class="row">
                        <h1>Bienvenue !</h1>
                        <h2 class="center">Trouver votre alternance à DIJON!</h2>
                  </div>
                  <div class="row">
                        <p>L’alternance comprend deux types de contrats : le <a href="http://travail-emploi.gouv.fr/formation-professionnelle/formation-en-alternance/article/le-contrat-d-apprentissage">contrat d’apprentissage</a> et le <a href="http://travail-emploi.gouv.fr/formation-professionnelle/formation-en-alternance/article/le-contrat-de-professionnalisation">contrat de professionnalisation.</a> Véritable passerelle vers l'emploi et la qualification, cette voie de formation repose sur des périodes alternées d'enseignement théorique et de formation pratique en entreprise.</p>
                  </div>
            </div>
            <br>
            <!--Information de connexion-->
            <div class="container">
            {% if current_user.is_authenticated %}
            <p class="center"><a href="{{ url_for('dashboard')}}"><button style="color:#000000;"   type="button" >voir les offres !!</button></></a>
            {% endif %}
            </div>
            <br><br>
{% endblock %}



